<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Task By Lesson Id</title>
    <style>table,
    td {
        border: 1px solid #333333FF;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

    tfoot {
        background-color: #333333FF;
        color: #fff;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="colgroup">Id</th>
        <th scope="col">Task name</th>
        <th scope="col">Task text</th>
        <th scope="col">Deadline</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="task: ${getAllTaskByLessonId}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.taskText}"></td>
        <td th:text="${task.deadLine}"></td>

        <td>
            <a th:href="@{/updateTask/{id}(id=${task.id})}">
                <button>Update</button>
            </a>
        </td>

        <td>
            <a th:href="@{/{lessonId}/{id}/deleteTaskById(lessonId=${lessonId}, id=${task.id})}"
               onclick="return confirm('Are you sure to delete this course?');">
                <button>Delete</button>
            </a>
        </td>

    </tr>
    </tbody>
</table>
<br><br><br><br>
<div style="text-align: center">
    <a th:href="@{/getAllTaskByLessonId/{lessonId}/new(lessonId=${lessonId})}">
        <button style="font-size: 25px;">Add Task</button>
    </a>
</div>
<div style="text-align: center">
  <a th:href="@{/getAllTask/{lessonId}(lessonId=${lessonId})}">
    <button style="font-size: 25px;"> SEE ALL STUDENT </button>
  </a>
</div>
</body>
</html>