<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SEE All Task By Lesson Id</title>
    <style>table,
    td {
        border: 1px solid #333333FF;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

    tfoot {
        background-color: #333333FF;
        color: #fff;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="colgroup">Id</th>
        <th scope="col">Task name</th>
        <th scope="col">Task text</th>
        <th scope="col">Deadline</th>
        <th scope="col">Lesson ID</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="task: ${getAllTask}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.taskText}"></td>
        <td th:text="${task.deadLine}"></td>
        <td th:text="${task.lesson.id}"></td>
    </tr>
    </tbody>
</table>
<br><br><br><br>
</body>
</html>