<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Instructor By Course Id</title>
    <style>table,
    td {
        border: 1px solid #333333FF;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

    tfoot {
        background-color: #333333FF;
        color: #fff;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="colgroup">Id</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Phone number</th>
        <th scope="col">Email</th>
        <th scope="col">Specialization</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="instructor: ${getAllInstructorByCourseId}">
        <td th:text="${instructor.id}"></td>
        <td th:text="${instructor.firstname}"></td>
        <td th:text="${instructor.lastname}"></td>
        <td th:text="${instructor.phoneNumber}"></td>
        <td th:text="${instructor.email}"></td>
        <td th:text="${instructor.specialization}"></td>

        <td>
            <a th:href="@{/updateInstructor/{id}(id=${instructor.id})}">
                <button>Update</button>
            </a>
        </td>

        <td>
            <a th:href="@{/{courseId}/{id}/deleteInstructorById(courseId=${courseId}, id=${instructor.id})}"
               onclick="return confirm('Are you sure to delete this course?');">
                <button>Delete</button>
            </a>
        </td>

    </tr>
    </tbody>
</table>
<br><br><br><br>
<div style="text-align: center">
    <a th:href="@{/getAllInstructorByCourseId/{courseId}/new(courseId=${courseId})}">
        <button style="font-size: 25px;"> Add Instructor</button>
    </a>
</div>
<div style="text-align: center">
    <a th:href="@{/getAllInstructor/{courseId}(courseId=${courseId})}">
        <button style="font-size: 25px;"> SEE ALL INSTRUCTOR</button>
    </a>
</div>
</body>
</html>